@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.KeyWords = Model.MetaKeywords;
}

<section class="video-finance">
    <div class="container">
        <h2 class="section-title video__title">
            NEGATIVE EQUITY TRADE IN
        </h2>
        <p class="video__text">
            One of the most common things we see with new clients is negative equity in their trade in. You go to trade in your car, but the balance is greater than the current value of the car. Watch below to better understand what negative equity is and how to avoid it.
        </p>
        <iframe class="video__content" width="1000" height="500" src="https://www.youtube.com/embed/EXbRU8wuwFU?si=xXfBZ7eJNQcQPBWM&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>
<section class="finance-blocks">
    <div class="container">
        <div class="finance-block">
            <h2 class="finance__title">WHAT IS NEGATIVE EQUITY?</h2>
            <p class="finance__description">
                Negative Equity means you owe more than your car is worth when you go to trade it in. This is also referred to as being “upside down” on a loan. When you consider that a car can lose 20% or more of its value within a year, it’s easy to see how you could wind up owing more than the car is worth.
            </p>
        </div>
        <div class="finance-block">
            <h2 class="finance__title">HOW TO GET RID OF NEGATIVE EQUITY?</h2>
            <p class="finance__description">
                The good news is there is no better place to retire negative equity than in a lease. The terms are shorter and you just pay for the part of the car you use.
            </p>
        </div>
        <div class="finance-block">
            <h2 class="finance__title">WHERE TO TRADE-IN A CAR WITH NEGATIVE EQUITY?</h2>
            <p class="finance__description">
                D&M is the best place to find your next lease! We make 100% sure that the negative equity is gone at the end of the lease term. If you currently have negative equity or are worried about creating it, please reach out to D&M. Our agents are experts at walking clients through how to properly structure their financing to either fix past mistakes or prevent future ones from happening.
            </p>
        </div>
    </div>
</section> 