@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.KeyWords = Model.MetaKeywords;
}

<section class="leasevsbuy">
    <div class="container">
        <div class="leasevsbuy-block">
            <h2 class="leasevsbuy__title">ADVANTAGES OF A NEW CAR LEASE VS. A USED CAR LEASE</h2>
            <p class="leasevsbuy__description">
                Deciding on whether you should lease a used car or lease a new car requires you to consider the advantages of both options to determine what is the best for you. We gathered the advantages of both options so you will make the best decision for you.
            </p>
        </div>
        <div class="leasevsbuy-block">
            <h2 class="leasevsbuy__title">ADVANTAGES OF LEASING A NEW CAR</h2>
            <p class="leasevsbuy__description">
                <strong>New car leasing</strong> is beneficial for those who want the latest model vehicle with the most up to date trends, without the high price tag or a long-term commitment.
            </p>
            <ol class="leasevsbuy__list">
                <li class="leasevsbuy__list-item">
                    By leasing a new car you can choose the car you want with a lower monthly payment.
                </li>
                <li class="leasevsbuy__list-item">
                    New lease car deals usually come with maintenance provided and a warranty covered under your leasing contract.
                </li>
                <li class="leasevsbuy__list-item">
                    By leasing a new vehicle you can trade out your vehicle every few years after your leasing contract ends. You can trade in the leased car for a new car lease deal and not worry about the maintenance, depreciation, or re-selling of the car.
                </li>
            </ol>
        </div>
        <div class="leasevsbuy-block">
            <h2 class="leasevsbuy__title">ADVANTAGES OF LEASING A USED CAR</h2>
            <p class="leasevsbuy__description">
                Used car leasing can be more cost-effective if you are looking for affordable payments and low commitment. Car dealers usually struggle to sell new car lease returns in excellent shape and have low mileage. Here are some advantages of <strong>used car leasing.</strong>
            </p>
            <ol class="leasevsbuy__list">
                <li class="leasevsbuy__list-item">
                    Used car lease deals have lower monthly payments. Since the value of the car decreases the most during the first two years after it is sold, you  pay significantly less at signing and on monthly payments.
                </li>
                <li class="leasevsbuy__list-item">
                    When a car is three-years-old they are also more likely to need maintenance repairs. Therefore, you should have a maintenance agreement in your used car leasing contract that covers the cost.
                </li>
                <li class="leasevsbuy__list-item">
                    You have the freedom of returning your used car lease at any time. Similar to a new car leasing, if you didn’t go over your mileage or cause any damage to the vehicle, you have the freedom to walk away with a different car when your lease is up.
                </li>
                <li class="leasevsbuy__list-item">
                    Another major benefit of leasing a used car is, used car leases are cheaper to insure. Used car leases are usually three years old, because of the age of the vehicle, your insurance is typically lower than it would be on a new car lease.
                </li>
            </ol>
        </div>
    </div>
</section>