﻿<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("FontsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <div class="wrapper">
        @await Html.PartialAsync("HeaderPartial")
        <main class="main">
            @RenderBody()
        </main>
        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>