﻿<footer class="footer">
    <div class="container">
        <nav class="footer__menu">
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <p class="footer__menu-title">Products</p>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" asp-area="" asp-controller="Services" asp-action="UsedCars">Used</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" asp-area="" asp-controller="Services" asp-action="NewCars">New</a>
                </li>
            </ul>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <p class="footer__menu-title">Resources</p>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__menu-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact us</a>
                </li>
            </ul>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <p class="footer__menu-title">Work With TrueCar</p>
                </li>
                <li class="footer__menu-item">
                    <a asp-area="" asp-controller="Home" asp-action="Dealers" class="footer__menu-link">Dealers</a>
                </li>
                <li class="footer__menu-item">
                    <a asp-area="" asp-controller="Home" asp-action="Partners" class="footer__menu-link">Partners</a>
                </li>
            </ul>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <p class="footer__menu-title">About</p>
                </li>
                <li class="footer__menu-item">
                    <a asp-area="" asp-controller="Home" asp-action="About Us" class="footer__menu-link">About us</a>
                </li>
                <li class="footer__menu-item">
                    <a asp-area="" asp-controller="Home" asp-action="Team" class="footer__menu-link">Team</a>
                </li>
                <li class="footer__menu-item">
                    <a asp-area="" asp-controller="Home" asp-action="Careers" class="footer__menu-link">Careers</a>
                </li>
            </ul>
        </nav>
        <ul class="app">
            <li class="app__item">
                <a href="https://apps.apple.com/ua/app/d-m-leasing/id579543604?l=ru" class="app__item-link">
                    <img class="app__item-img" src="~/images/appstore.svg" alt="">
                </a>
            </li>
            <li class="app__item">
                <a href="https://play.google.com/store/apps/details?id=com.dmautoleasing.android&hl=ru&gl=US" class="app__item-link">
                    <img class="app__item-img" src="~/images/googleplay.svg" alt="">
                </a>
            </li>
        </ul>
        <div class="footer__copy">
            <p class="footer_copy-text">
                For questions about the TrueCar Auto Buying Service please call 1-888-878-3227.
                Certified Dealers are contractually obligated by TrueCar to meet certain customer service
                requirements and complete the TrueCar Dealer Certification Program.
            </p>
            <p class="footer__copy-text">
                TrueCar does not broker, sell, or lease motor vehicles. Unless otherwise noted, all vehicles
                shown on this website are offered for sale by licensed motor vehicle dealers. All vehicles are
                subject to prior sale. By accessing this website, you agree to the TrueCar Terms of Service and
                Privacy Policy.
            </p>
        </div>
        <nav class="copy__nav">
            <ul class="copy__nav_list">
                <li class="copy__nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Terms" class="copy__nav-link">Terms of Use</a>
                </li>
                <li class="copy__nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="copy__nav-link">Privacy Policy</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>